@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

* {
  font-family: "Poppins","Noto Sans Arabic";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}

.about-btn {
  color: #f0f0f0;
  background-color: #ff0000;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.about-btn:hover {
  background-color: #da0000;
  transform: scale(1.1);
}

.title {
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #ff0000;
  font-size: 5em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #ff0000;
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px;
}

.info span {
  color: #168118;
  font-weight: 700;
  font-size: 1.3em;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact-box .icon {
  font-size: 3em;
}

.contact-box .info p {
  font-size: 1.3em;
}

.contact-box .info h3 {
  color: #000;
}

.about p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
}

.about .lines {
  color: #fff;
}

@media (max-width: 1023px) {
  header {
    padding: 12px;
  }

  .title {
    font-size: 1.8em;
  }

  section {
    padding: 80px 20px;
  }

  .home h2 {
    font-size: 1em;
  }

  .home h3 {
    font-size: 1.6em;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .contact-box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 12px;
  }

  .home h2 {
    font-size: 0.8em;
  }

  .home h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
